.box {
  background-color: var(--box-bg);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 30px;
  text-align: center;
}

.drop-file-input {
  position: relative;
  width: 90%;
  /* height: 100px; */
  border: 2px dashed var(--border-color);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--input-bg);
}
.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input_label {
  text-align: center;
  color: var(--txt-second-color);
  font-weight: 600;
  padding: 20px;
}

.drop-file-input_label img {
  width: 70px;
}
.drop-file-preview {
  margin-top: 30px;
  background-color: rgb(255, 231, 202);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
}

.drop-file-preview p {
  font-weight: 500;
}

.drop-file-preview_title {
  margin-bottom: 2px;
}

.drop-file-preview_item {
  /* position: relative; */
  /* display: flex; */
  /* align-items: center; */
  /* margin-bottom: 10px; */
  /* background-color: var(--input-bg); */
  /* padding: 15px; */
  /* border-radius: 20px; */
}

.drop-file-preview_item img {
  /* width: 50px; */
  /* margin-right: 20px; */
}

.drop-file-preview_item_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 0 1.5rem;
}

.drop-file-preview_item_del {
  /* background-color: var(--box-bg); */
  /* background-color: red; */
  /* size: inherit; */
  width: 50px;
  /* height: 50px; */
  border-radius: 50%;
  cursor: pointer;
  /* text-align: center;
  font-weight: 500; */
  display: flex;

  align-items: center;
  justify-content: center;

  /* position: absolute; */
  /* right: 10px; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  /* box-shadow: var(--box-shadow); */
  /* cursor: pointer; */
  opacity: 0.5;
  /* transition: opacity 0.3s ease; */
}

.drop-file-preview_item:hover .drop-file-preview_item_del {
  /* opacity: 1; */
}

@media screen and (max-width: 690px) {
  .drop-file-preview {
    margin-top: 30px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
  }
}
