@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root{
  --body-bg: #f5f8ff;
  --box-bg: #fff;
  --input-bg: #f5f8ff;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
  --border-color: #4267b2;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--txt-color);

  display: flex;
  justify-content: center;
  align-items: center;  
  height: 100vh;
  margin: auto;
}

